@page "/about"

<PageTitle>About this site</PageTitle>

<h1>About this site</h1>

<p>This is a project made by <a href="https://github.com/miguelDalberto">Miguel Dalberto</a>.</p>

<button class="btn btn-primary" @onclick="IncrementCount">@currentCount</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
